<!DOCTYPE html>
%html
  %head
    %meta(charset="utf-8")
    %title About me

  %body
    %header#page_header
      %h1 About me

    %section#summary
      %header 
        %h2 Summary
    %section#work_experience
      %haeder
        %h2 Work Experience
    %section#skills
      %header
        %h2 Skills

    %footer#page_footer
      %p Copyright © 2013 Wang Yuheng
      %nav
        %ul
          %li 
            %a(href="#") wangyh.chn@gmail.com
          %li
            %a(href="#") Linkedin
